.headerUnrealEngineInner {
    margin: auto;
    width: fit-content;
    display: block;
}

.headerUnrealEngine {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 52px);
    bottom: 10vh;
    position: relative;
}

.headerUnrealEngine .h3UE {
    color: white;
    display: block;
    align-self: center;
    margin-bottom: 3vh;
}

.headerUnrealEngine .h3UE h3 {
    text-align: center;
    font-weight: 100;
}

.headerUnrealEngine h1 {
    color: white;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 900;
}

.h1UE {
    display: block;
    margin-bottom: 10rem;
}

@keyframes colorAnim {
    0% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 100% 150%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.mainContainer {
    background: radial-gradient(ellipse at bottom right, #EEB1BF 5%, #d42dab 25%, #4d1d63 50%, #030243 100%);
    background-size: 110% 110%;
    animation: colorAnim 15s infinite none;
}

.content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.Paragraphs_BarWrapper {
    width: 100%;
    max-height: 100%;
    margin: 6rem 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.Paragraphs_BarContent {
    width: 50%;
    color: white;
    display: inline-block;
}

.divideLineWhite {
    width: 3px;
    height: 100%;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    z-index: auto;
}

.divideLineWhiteTOP {
    top: 0;
    width: 2vw;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    z-index: auto;
}

.divideLineWhiteBOTTOM {
    bottom: 0;
    width: 2vw;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    z-index: auto;
}

.middleLineHelpper {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}

.mainContentCointeiner {
    max-width: 1200px;
}

.noteUE{
    padding: 0 1rem;
    max-width: 700px;
    color: white;
    text-align: center;
}

.Paragraphs_BarWrapper .Paragraphs_BarContent a{
    color: white;
    font-size: larger;
    font-weight: 100;
    text-decoration: none;
}

@keyframes arrow {
    0%{
        bottom: 20px;
    }
    35%{
        bottom: 0;
    }
    50%{
        bottom: 0;
    }
    65%{
        bottom: 0;
    }
    100%{
        bottom: 20px;
    }
}

.ArrowDownContainer{
    position: absolute;
    bottom: 20px;
    display: block;
    height: fit-content;
    width: fit-content;
    animation: arrow 2s infinite;
}

.ArrowDownLine:after{
    content: "";
    display: block;
    width: 2px;
    height: 48px;
    border-radius: 2px;
    background: #ececec;
    top: 0;
}

.topArrContainer{
    position: absolute;
    bottom: 10px;
}

.gg-arrow-long-down-c {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,2));
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-top: 4px solid transparent;
    box-shadow: inset white 0 0 0 2px;
    height: 20px;
    width: 6px;

}

.gg-arrow-long-down-c::after,
.gg-arrow-long-down-c::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.gg-arrow-long-down-c::after {
    width: 6px;
    height: 6px;
    border-bottom: white 2px solid;
    border-right: white 2px solid;
    transform: rotate(45deg);
    bottom: 0;
    left: -2px
}



